.table-wrapper {
  margin-top: 2rem;
  background-color: transparent !important;
  .avatar {
    border-radius: 50%;
  }
  .results-text {
    color: #61dafb;
  }
  .row-data {
    text-align: center;
  }
  table {
    border-spacing: 0;
    border: 1px solid rgb(131, 128, 128);
    background-color: #3c3f4e !important;
    border-radius: 15px;
    color: white;
    tr {
      height: 52px;
      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }
    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      min-width: 200px;
      &:first-child {
        min-width: 50px;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .page-count {
      font-size: 12px;
      color: white;
      margin-left: 5px;
    }
    button {
        padding: 4px 6px;
        position: relative;
        border-radius: 4px;
        border: 1px solid #26BEAF;
        background: transparent;
        color: white;
        cursor: pointer;

        &:disabled {
          background: #797c8e;
          cursor: auto;
        }
    }
    .next-page-button {
      font-size: 16px;
      padding: 8px 10px;
    }
    .pre-page-button {
      font-size: 16px;
      padding: 8px 10px;
    }
  }
}
